// Font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');
// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Body
body {
    font-family: 'Nunito', sans-serif;
}
// Commons
.container {
    width: 100%;
    max-width: 1600px;
    padding: 0 2rem;
    margin: 0 auto;
}
// Typo
a {
    text-decoration: none;
}